body {
    padding: 0;
    margin: 0;
    max-height: 100vh;
    overflow: hidden;
}

.battleship-container {
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - 46px);
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.flex-all-center {
    align-items: center;
    justify-content: center;
}

.flex-1 {
    flex: 1;
}

.gameboard {
    flex: 2;
}

.bg-yellow {
    background-color: #ffb000;
}

.bg-green {
    background-color: #25b79f;
}

.text-grey {
    color: #4a4a4a;
}

.score-text {
    font-weight: 900;
    font-size: 65px;
}

.player-text {
    font-weight: 900;
    font-size: 30px;
}

.full-width {
    width: 100%;
}

hr {
    border: 0.5px solid #4a4a4a;
}

.dots {
    padding-right: 5px;
}

.scoreboard table {
    padding-top: 40px;
}

canvas {
    width: 80%;
    height: 80%;
    margin-left: 80px;
    border: solid 8px #ffb000;
}

@media screen and (min-width: 768px){
    .scoreboard, .gameboard {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .scoreboard {
        margin-left: 50px;
        margin-right: 8px;
    }
    
    .gameboard {
        margin-right: 50px;
        margin-left: 8px;
    }
}

@media screen and (max-width: 768px) {
    .only-desktop {
        display: none;
    }
}


/* Mobile CSS */
@media screen and (max-width: 425px) {
    .battleship-container {
        flex-direction: column-reverse;
    }
    canvas {
        width: calc(100% - 16px);
        height: 100%;
        margin:0;
    }
    .gameboard {
        padding: 0;
        flex: 0.1;
    }
    .scoreboard {
        flex: 9;
    }
    .player-stat {
        margin-top: -5px;
    }
    .scoreboard table {
        padding-top: 10px;
    }
    .scoreboard tbody{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .scoreboard tr {
        width: 48vw;
    }
    .scoreboard td:first-child img {
        width: 100px;
    }

    .scoreboard .score-hit img {
        width: 10px;
        padding-right: 1px;
    }
}
/* Tablet css */
@media (min-width: 425px) and (max-width: 768px) {
    body {
        overflow-y: scroll;
    }
    .battleship-container {
        flex-direction: column-reverse;
    }
    canvas {
        width: calc(100% - 16px);
        height: 100%;
        margin: 0;
    }

    .gameboard, .scoreboard {
        padding: 15px;
        margin: 0;
    }

    .scoreboard {
        flex-direction: row;
        margin-left: 0;
        margin-right: 0;
    }
    .player-stat {
        flex: 1;
        max-height: 200px;
    }
    .player-stat:last-child {
        margin-right: 10px;
    }
    .scoreboard table {
        max-width: 50%;
        padding-top: 10px;
    }
    .scoreboard tbody{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex: 1 0 21%;
    }
    .scoreboard td:first-child img {
        width: 100px;
    }

    .scoreboard .score-hit img {
        width: 10px;
        padding-right: 1px;
    }
}